<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Revalia&display=swap"
            rel="stylesheet">
        <link rel="icon" href="/static/img/Gnomito.ico" type="image/png">
        <title>Dados Trucados</title>
    </head>
    <body>
        <h1>Escoge tus dados</h1>
        <div class="container-dados">
            <div class="dado-bloque">
                <img src="static\img\D4.png">
                <div class="botones">
                    <button>-</button>
                    <number-flow-react>0</number-flow-react>
                    <button>+</button>
                </div>
            </div>
            <div class="dado-bloque">
                <img src="static\img\D6.png">
                <div class="botones">
                    <button>-</button>
                    <number-flow-react>0</number-flow-react>
                    <button>+</button>
                </div>
            </div>
            <div class="dado-bloque">
                <img src="static\img\D8.png">
                <div class="botones">
                    <button>-</button>
                    <number-flow-react>0</number-flow-react>
                    <button>+</button>
                </div>
            </div>
            <div class="dado-bloque">
                <img src="static\img\D10.png">
                <div class="botones">
                    <button>-</button>
                    <number-flow-react>0</number-flow-react>
                    <button>+</button>
                </div>
            </div>
            <div class="dado-bloque">
                <img src="static\img\D10P.png">
                <div class="botones">
                    <button>-</button>
                    <number-flow-react>0</number-flow-react>
                    <button>+</button>
                </div>
            </div><div class="dado-bloque">
                <img src="static\img\D12.png">
                <div class="botones">
                    <button>-</button>
                    <number-flow-react>0</number-flow-react>
                    <button>+</button>
                </div>
            </div>
            <div class="dado-bloque">
                <img src="static\img\D20.png">
                <div class="botones">
                    <button>-</button>
                    <number-flow-react>0</number-flow-react>
                    <button>+</button>
                </div>
            </div>
        </div>
        <h1>Resultados</h1>

    </body>
</html>